.xml-element {
  margin-left: 20px;
}

.xml-element-tag {
  color: #01005f;
}

.xml-element-name {
  color: #1818b4;
}

.xml-attr-name {
  color: #189518;
}

.xml-attr-value {
  color: #8b1410;
}

.xml-text {
  color: #000000;
}

.xml-match {
  background-color: #ffff00;
}

.xml-comment {
  color: #5f005d;
}
